body {
  background-color: lightslategray;
}

.breed-select {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  background-color: lightslategray;
}

.image {
  display: block;
  max-width: 45%;
  margin: auto;
  border: 4px;
  border-radius: 8px;
  /* border-color: black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 2s;
}

.breed-name {
  font-size: 30px;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-content: center;
  display: flex;
}

.container {
  max-width: 50%;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: lightsteelblue;
  text-align: center;
  padding: 1%;
  margin-top: 20px;
}
